<footer class="eco-footer">
    <div class="eco-badge">
        <div class="leaf-icon">
            <svg viewBox="0 0 24 24" class="leaf">
                <path d="M17,8C8,10 5.9,16.17 3.82,21.34L5.71,22L6.66,19.7C7.14,19.87 7.64,20 8,20C19,20 22,3 22,3C21,5 14,5.25 9,6.25C4,7.25 2,11.5 2,13.5C2,15.5 3.75,17.25 3.75,17.25C7,8 17,8 17,8Z" />
            </svg>
        </div>
        <span class="eco-text">Eco-Friendly</span>
    </div>
    <div class="footer-wave">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" preserveAspectRatio="none">
            <path fill="#075e54" fill-opacity="0.3" d="M0,224L48,213.3C96,203,192,181,288,181.3C384,181,480,203,576,218.7C672,235,768,245,864,229.3C960,213,1056,171,1152,165.3C1248,160,1344,192,1392,208L1440,224L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path>
        </svg>
    </div>
    <div class="footer-content">
        <div class="footer-links">
            <ul>
                <li><a routerLink="/" class="eco-link"><span class="link-text">About Us</span></a></li>
                <li><a routerLink="/" class="eco-link"><span class="link-text">Contact Us</span></a></li>
                <li><a routerLink="/" class="eco-link"><span class="link-text">Terms & Condition</span></a></li>
                <li><a routerLink="/" class="eco-link"><span class="link-text">Privacy Policy</span></a></li>
                <li><a routerLink="/" class="eco-link"><span class="link-text">FAQ's</span></a></li>
            </ul>
        </div>
        
        <div class="footer-info">
            <p>&copy; 2025 Emsi. All Right Reserved</p>
            <div class="eco-certification">
                <span class="eco-badge-small">Green Certified</span>
                <span class="eco-badge-small">Carbon Neutral</span>
            </div>
        </div>
    </div>
</footer>